<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
    input[name],[value]{
        margin-top: 10px;
    }

   
    
    form{
        border-radius: 10px;
        padding: 10px;
        margin-top: 100px;
        box-shadow: 0px 0px 10px black, 0px 0px 20px red;
    
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class=" offset-md-3 col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="text-center" style="text-decoration: underline; text-shadow: 0px 0px 10px red;"> NTH ADD DATA</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="fname" class="form-control" placeholder="first name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="lname" class="form-control" placeholder="last name">  
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="course" class="form-control" placeholder="course">
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="fee" class="form-control" placeholder="fee">  
                        </div>

                        <div class="col-md-6">
                            <input type="number" name="a1" class="form-control" placeholder="assignment1 ">
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="a2" class="form-control" placeholder="assignment2">  
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="a3" class="form-control" placeholder="assignment3">
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="a4" class="form-control" placeholder="assignment4">  
                        </div>

                    </div>
                    
                    
                    <center>
                        <input type="submit" value="save" class="btn btn-success" >
                        <input type="reset" value="clear" class="btn btn-danger"><br>
                        <a href="{% url 'displaydata'%}" class="btn btn-dark btn-sm" style="margin-top: 5px;">home</a>
                    </center>
                    
                    
                    
                </form>

            </div>

        </div>

    </div>
</body>
</html>